<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="Modelo" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-webProblemaPractico-20170307132732;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-webProblemaPractico-20170307132732.mdf" />-->
    <add name="Modelo" connectionString="data source=.;initial catalog=rommelexamen;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISucursales" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:26421/Sucursales.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_ISucursales" contract="wsSucursales.ISucursales"
          name="BasicHttpBinding_ISucursales" />
    </client>
  </system.serviceModel>
</configuration>